@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@100;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pink: #ff4757;
  --text: #939797;
  --white: #ffffff;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;

  font-size: 62.5%;

  transition: all 0.3s;

  /* overflow-x: hidden; */
}

body::selection {
  background: var(--pink);
  color: var(--white);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.section {
  padding: 5rem 0;
}

.btn {
  background-color: #ff4757;
  border-radius: 10px;

  box-shadow: #ff4757 0 1px 0 0 inset;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  overflow-x: hidden;
  transition: all 0.3s;
}

/* .btn:hover,
.btn:focus {
  background-color: #cc3946 ;
  color:var(--white);
} */

.btn:hover,
.btn:focus {
  box-shadow: inset 6.5em 0 0 0 #661c23;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 2rem 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--white);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.header .scroll__bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  background-color: var(--pink);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  height: 0.5rem;
}

.header .navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .navbar a {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--pink);
}

.mobile {
  display: none;
}

#menu {
  color: var(--pink);
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 25;
}
.fa-times {
  color: var(--pink);
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 25;
  transition: all 0.3s;
  transform: rotate(90deg);
}

.main__heading {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-text-stroke: #666 0.1rem;
  color: var(--white);
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: bolder;
}

/* hero css   */
.hero {
  padding-top: 8rem;

  background: url(../image/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;

  display: flex;
  align-items: center;

  text-transform: capitalize;
}

.hero .content .name {
  font-size: 2.7rem;
  line-height: 1.5;
}

.hero .content .name span {
  color: var(--pink);
}

.hero .content p {
  font-size: 1.1rem;
  line-height: 1.5;
  width: 55%;
  font-weight: 300;
  margin-bottom: 1rem;
}

/* home css  */

/* about  css  */
.about {
}

.about .content__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 2rem;
}
.about .content__wrapper .skill {
  flex-basis: 33%;
}
.about .content__wrapper .skill h4 {
  color: var(--pink);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.about .content__wrapper .skill .skill__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
}

.about .content__wrapper .skill .skill__group p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1rem;
}
.about .content__wrapper .skill .skill__set .bar {
  background: var(--text);
  width: 100%;
  height: 0.33rem;
  border-radius: 40px;
  position: relative;
}

.about .content__wrapper .skill .skill__set .bar span.html {
  background: var(--pink);
  position: absolute;
  width: 74%;
  height: 100%;
  transition: all 0.33s linear;
}

.about .content__wrapper .skill .skill__set .bar span.css {
  background: var(--pink);
  position: absolute;
  width: 98%;
  height: 100%;
  transition: all 0.33s linear;
}

.about .content__wrapper .skill .skill__set .bar span.js {
  background: var(--pink);
  position: absolute;
  width: 85%;
  height: 100%;
  transition: all 0.33s linear;
}

.about .content__wrapper .personal {
  flex-basis: 33%;
}
.about .content__wrapper .personal h4 {
  color: var(--pink);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.about .content__wrapper .personal .personal__info p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--text);
}
.about .content__wrapper .personal .personal__info p span {
  font-weight: 700;
}

.about .content__wrapper .experiance {
  flex-basis: 33%;
}
.about .content__wrapper .experiance p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--text);
}

.about .content__wrapper .experiance p span {
  font-weight: 700;
}

.about .content .counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
}
.about .content .number {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  /* border: 1px solid var(--text); */
  box-shadow: -4px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1%;
}

.about .content .number p:first-child {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--pink);
}
.about .content .number p:last-child {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  color: var(--text);
}
/* about  css  */

/* service css  */
.service {
}

.service .box__container {
  width: 100%;
  /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 1rem;
}

.service .box__container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  background: linear-gradient(63deg, rgba(245, 43, 93, 0.2) 50%, #fff 50%);
  position: relative;
  z-index: 100;
  flex: 1 1 20rem;
}

.service .box__container .box span.number {
  position: absolute;
  top: 0;
  right: 43px;
  display: inline-block;
  font-size: 2.1rem;
  opacity: 0.2;
  transition: all 0.3s linear;
}

.service .box__container .box p {
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 100;
  margin-bottom: 1rem;
}

.service .box__container .box h3 {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.service .box__container .box:hover span.number {
  transform: scale(1.4);
}

/* service css  */

/* education css */

.education {
}

.education .row {
  display: flex;
  flex-wrap: wrap;
}

.education .row .column {
  flex: 1 1 30rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.education .row .column .title {
  color: var(--pink);
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.education .row .column .box {
  padding-left: 1rem;
  padding-bottom: 1.3rem;
  border-left: 0.2rem solid var(--pink);
  position: relative;
}
.education .row .column .box::before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: -0.6rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--pink);
}
.education .row .column .box h3 {
  font-size: 1.23rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 1rem;
}
.education .row .column .box p {
  font-size: 0.8rem;
  line-height: 1.7;
  margin-top: 0.85rem;
  color: var(--text);
}
/* education css */

/* portfolio css  */
.portfolio {
}
.portfolio .box__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.portfolio .box__container .box {
  flex: 1 1 25rem;
  display: inline-block;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
  overflow: hidden;
}

.portfolio .box__container .box .info {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 71, 87, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--white);
  font-weight: 900;
  transition: all 0.3s linear;
  text-transform: capitalize;
}

.portfolio .box__container .box:hover .info {
  top: 0;
}

.portfolio .box__container .box img {
  width: 100%;
  object-fit: cover;
}
/* portfolio css  */

/* contact css  */
.contact {
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 1rem;
}

.contact .row .form {
    width: 75%;
}
.contact .row .inputBox {
    margin: .15rem 0;
}
.contact .row .inputBox input,
textarea {
  border: none;
  outline: none;
 height: 3.1rem;
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  margin: 1rem 0;
  border-radius: 0.5rem;

  padding: 0.57rem 0.7rem;
  
  width: 100%;
}

::placeholder{
    color: var(--text);
    text-transform: capitalize;
    font-size: 1rem;
}
/* contact css  */

/* footer css  */
.footer{
    background: var(--pink);
    padding: 1rem 0;
    color: var(--white);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* footer css  */
