
@media (max-width: 1300px) {
    body {
     font-size: 55%;
 
    }
 }


 
@media (max-width: 768px) {
    body {
     font-size: 55%;
 
    }

    #menu{
        display: block;
        z-index: 2000;
    }

    .header .navbar {
        position: absolute;
        top: 91px;
        left: 0;
        z-index: 4;
        width: 50%;
        height: calc(100vh - 100%);
        padding: 1rem 2%;
        flex-flow: column wrap;
        background: var(--white);
        border-right: 3px solid rgba(234, 234, 234, 0.7);
        box-shadow: 0 100vh 0 67px rgba(0, 0, 0, 1.2);
        /* transition: all .3s linear; */
        transform: translateX(-100%);
        visibility: hidden;
        opacity: 0;
    }

    .mobile {
        display: block;
    }

    .mobile .icon   {
        font-size: 1rem;
        color: var(--pink);
    }

    .isActive  .navbar{
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    } 

    
    .header .navbar a {
        font-size: 1.2rem;
        display: inline-block;
    }
    

    /* hero  */
    .hero .content p {
        width: 100%;
    }

 }


 
@media (max-width: 450px) {
    body {
     font-size: 55%;
 
    }
      /* header  */
    .header .navbar{
        width: 75%;
    }

    /* hero css  */
    .hero .content p {
        font-size: 1rem;
       line-height: 1.5;
         
    }

    .hero {
        background-position: left;
    }
    
    /* hero css  */





  /* about css / */
    .about .content__wrapper {
    
        flex-flow: column;
    }

    .about .content__wrapper {
        
        align-items: stretch;
       
    }

    .about .content__wrapper .skill {
        flex-basis: 100%;
    }


    .about .content .counter {
      
        flex-flow: column;
        justify-content: center;
    }
      
    .about .counter .number {
        aspect-ratio: 16/9;
    }
    /* about css  */

    /* education css  */
    .education  .main__heading {
        font-size: 1.5rem;
    }

    .education .row .column .box h3 {
        font-size: .777rem;
        
    }
    /* education css  */


    
/* footer css  */
.footer{
   font-size: .787rem;
    padding: 1rem 2rem .10rem 2rem;
}

/* footer css  */

 }